<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.13.1/dist/js-yaml.min.js"></script>

    <link rel="stylesheet" href="styles.css" />
    <title></title>
  </head>

  <body>
    <div id="main" v-cloak>
      <div id="configs">
        <p v-for="config in configs">
          <button @click="selectConfig(config.name)">Выбрать {{ config.name }}</button>
          <span class="config_status">Конфиг запущен {{ config.isConnected ? 'да' : 'нет' }}</span>
          <span v-if="isCurrentConfig(config.name)">Выбран</span>
          <button v-on:click="runConfig(config.name)">Запустить конфиг</button>
        </p>
      </div>

      <button v-on:click="showConfigs()">Консоль конфиги</button>

      <hr />

      <form action="" v-if="currConfig.name">
        <h4>{{currConfig.name}}</h4>
        <p>{{currConfig.isConnected}}</p>
        <label for="output">output</label>
        <input type="text" name="output" v-model="currConfig.ppd_config.output"/>
        <br />
        <label for="envs">envs</label>
        <input type="text" name="envs" v-model="currConfig.ppd_config.envs"/>
        <br />
        <label for="testsFolder">testsFolder</label>
        <input type="text" name="testsFolder" v-model="currConfig.ppd_config.testsFolder"/>
        <br />
        <label for="envsExt">envsExt</label>
        <input type="text" name="envsExt" v-model="currConfig.ppd_config.envsExt"/>
        <br />
        <label for="envsExtJson">envsExtJson</label>
        <input type="text" name="envsExtJson" v-model="currConfig.ppd_config.envsExtJson"/>
        <br />
        <label for="data">data</label>
        <input type="text" name="data" v-model="currConfig.ppd_config.data"/>
        <br />
        <label for="selectors">selectors</label>
        <input type="text" name="selectors" v-model="currConfig.ppd_config.selectors"/>
        <br />
        <label for="debugMode">debugMode</label>
        <input type="text" name="debugMode" v-model="currConfig.ppd_config.debugMode"/>
        <br />
        <label for="logDisabled">logDisabled</label>
        <input type="text" name="logDisabled" v-model="currConfig.ppd_config.logDisabled"/>
        <br />
        <label for="testsList">testsList</label>
        <input type="text" name="testsList" v-model="currConfig.ppd_config.testsList"/>
        <br />
        <label for="test">test</label>
        <input type="text" name="test" v-model="currConfig.ppd_config.test"/>
        <br />
        <label for="dataExt">dataExt</label>
        <input type="text" name="dataExt" v-model="currConfig.ppd_config.dataExt"/>
        <br />
        <label for="selectorsExt">selectorsExt</label>
        <input type="text" name="selectorsExt" v-model="currConfig.ppd_config.selectorsExt"/>
        <br />
      </form>

      <button @click='runTest(currConfig)'>Запустить Тесты</button>
      <button @click='fetchStruct(currConfig)'>Получить структуру</button>
      <button @click='fetchAvailableTests(currConfig)'>Получить все доступные тесты</button>
    </div>

    <!-- <div class="wrapper"> -->

    <!-- <div class="header">HEADER</div>

    <div class="testLists">
      TEST LISTS
      <button onclick="init_test()">Старт теста</button>
      <button onclick="get_json()">Получить тесты</button>
    </div> -->
    <!-- <div class="testData">TEST DATA</div> -->
    <!-- <div class="testFlow">
      TEST FLOW<br>
      <button onclick="getAllSockets()">Получить все сокеты</button><br>
      <button onclick="socket_connect()">Запустить сокет</button><br>
      <button onclick="init_test()">Инициировать тест</button><br>
      <button onclick="get_test()">Получить данные теста</button><br>
    </div>
    <div class="testDetails">
      <div class="compiledData">COMPILED DATA</div>
      <div class="compiledSelectors">COMPILED SELECTORS</div>
    </div>

    <div class="footer">FOOTER</div> -->
    <!-- </div> -->
    <!-- <input type="text"/> -->
    <!-- <button onclick="init_test()">Старт теста</button>
  <button onclick="get_json()">Получить JSON</button> -->
    <!-- <button onclick="init_test2()">Старт теста2</button> -->
    <!-- <button onclick="stop_test()">Стоп теста</button>
  <button onclick="stop_test2()">Стоп теста2</button> -->
  </body>
  <script src="sockets.js"></script>
</html>
